---
layout: archive
permalink: /blog/
title: "Blog Posts"
author_profile: true
---

{% include base_path %}

A place to share non technical stuff about my life. 

<div style="clear: both; overflow: hidden; margin-top: -1.5em; padding-bottom: 1em">
{% if site.posts.size == 0 %}
  <p>No blog posts yet. Check back soon!</p>
{% else %}
  {% for post in site.posts %}
    <div style="clear: both; overflow: hidden; margin-bottom: -2.0em; padding-bottom: 0em">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}    
</div>