---
layout: archive
title: "Research and Related Reviews"
permalink: /research/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<div style="display: flex; justify-content: center; align-items: flex-start; gap: 16px; margin: 1em 0;">

  <!-- Left column: GSplat (70%) -->
  <div style="width: 70%; display: flex; flex-direction: column;">
    <p style="margin: 0 0 0.5em 0; font-size: 0.9em;">
      Visit my office at LIRMM. The place where my current research is taking place!
    </p>
    <iframe 
      id="viewer" 
      allow="fullscreen; xr-spatial-tracking" 
      src="https://superspl.at/s?id=6bb6a719"
      style="width: 100%; height: 400px; border: none; display: block;">
    </iframe>
    <p style="margin: 0.5em 0 0 0; font-size: 0.9em;">
      Navigate in 3D: Gaussian Splat reconstruction with <a href="https://colmap.github.io/" target="_blank">colmap</a> + <a href="https://docs.nerf.studio/nerfology/methods/splat.html" target="_blank">nerfstudio splatfacto</a>.<br>
      (Using just 300 frames extracted from a 100 seconds video taken with my phone)
    </p>
  </div>

  <!-- Right column: Image (30%) -->
  <div style="width: 30%; display: flex; flex-direction: column;">
    <p style="margin: 0 0 0.5em 0; font-size: 0.9em;">
      My "ROV Control Room"
    </p>
    <img 
      src="/images/research/research_room.jpg" 
      style="width: 100%; height: 400px; object-fit: cover; display: block;">
  </div>

</div>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
